.backgrond {
    background-image: url("../../../../../images/solitaire-table.jpg");
}
.cont2 {
    width: 950px;
    height: 750px;
    margin-left: 15%;
    border: 15px solid black;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(69,62,62,1) 0%, rgba(107,107,119,1) 50%, rgba(194,184,184,1) 100%);
    box-shadow: 3px 3px 50px #aaaaaa;
    background-size: 100%;
    background-repeat: no-repeat;
}
.spac {
    padding-top: 233px;
}
#Sltr {
    margin-left: 100px;
    border-radius: 25px;
}
.sltr-txt {
    text-align: center;
    font-size: 32px;
    color: rgb(25, 3, 85);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(43, 102, 150), 0 0 0.2em blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}